version: '0.0.{build}'

init:
  - ps: >-
      if($env:appveyor_repo_tag -eq 'True') {
        Update-AppveyorBuild -Version "$($env:APPVEYOR_REPO_TAG_NAME.TrimStart("v"))"
      }

configuration:
  - Debug
  - Release

environment:
  global:
    PYTHON: "C:\\Python36"

  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    arch: x86
    platform: Win32
    visual_studio: Visual Studio 15 2017
    compiler_toolset: v141
    gtest: 1.7.0
    OpenSSL: 1.0.2n

  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    arch: x86_64
    platform: x64
    visual_studio: Visual Studio 16 2019
    compiler_toolset: v142
    gtest: 1.10.0
    OpenSSL: 1.0.2s

install:
  - "SET PATH=%PYTHON%;%PYTHON%/Scripts/;%PATH%"
  - pip.exe install conan
  - conan user
  - conan remote add systelab-bintray https://api.bintray.com/conan/systelab/conan
  - conan --version

build_script:
  - md build
  - cd build
  - conan install .. -s build_type=%CONFIGURATION% -s compiler.toolset=%COMPILER_TOOLSET% -s arch=%ARCH% -o gtest=%GTEST% -o OpenSSL=%OPENSSL%
  - cmake .. -G "%VISUAL_STUDIO%" -A %PLATFORM%
  - msbuild JWTUtils.sln /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
  - conan export-pkg ../conanfile.py JWTUtils/%APPVEYOR_BUILD_VERSION%@systelab/stable -s build_type=%CONFIGURATION% -s compiler.toolset=%COMPILER_TOOLSET% -s arch=%ARCH% -o gtest=%GTEST% -o OpenSSL=%OPENSSL%
  - conan test ../test_package/conanfile.py JWTUtils/%APPVEYOR_BUILD_VERSION%@systelab/stable -s build_type=%CONFIGURATION% -s compiler.toolset=%COMPILER_TOOLSET% -s arch=%ARCH% -o gtest=%GTEST% -o OpenSSL=%OPENSSL%
  - cd ..
  - cd test
  - cd JWTUtilsTestUtilities
  - md build
  - cd build
  - conan install .. -s build_type=%CONFIGURATION% -s compiler.toolset=%COMPILER_TOOLSET% -s arch=%ARCH% -e VERSION="%APPVEYOR_BUILD_VERSION%" -o gtest=%GTEST% -o OpenSSL=%OPENSSL%
  - cmake .. -G "%VISUAL_STUDIO%" -A %PLATFORM%
  - msbuild JWTUtilsTestUtilities.sln /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
  - conan export-pkg ../conanfile.py JWTUtilsTestUtilities/%APPVEYOR_BUILD_VERSION%@systelab/stable -s build_type=%CONFIGURATION% -s compiler.toolset=%COMPILER_TOOLSET% -s arch=%ARCH% -o gtest=%GTEST% -o OpenSSL=%OPENSSL%
  - conan test ../test_package/conanfile.py JWTUtilsTestUtilities/%APPVEYOR_BUILD_VERSION%@systelab/stable -s build_type=%CONFIGURATION% -s compiler.toolset=%COMPILER_TOOLSET% -s arch=%ARCH% -o gtest=%GTEST% -o OpenSSL=%OPENSSL%
  - cd ..
  - cd ..
  - cd ..
  - cd build

test_script:
  - ps: cd bin
  - ps: cd $env:CONFIGURATION
  - JWTUtilsTest.exe --gtest_output=xml:JWTUtilsTest.xml

after_test:
  - ps: (new-object net.webclient).UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\JWTUtilsTest.xml))

artifacts:
  - path: 'build\lib\%CONFIGURATION%\JWTUtils.lib'
    name: JWTUtils.lib
  - path: 'test\JWTUtilsTestUtilities\build\lib\%CONFIGURATION%\JWTUtilsTestUtilities.lib'
    name: JWTUtilsTestUtilities.lib

deploy_script:
  - ps: >- 
      if($env:appveyor_repo_tag -eq 'True') {
        conan upload JWTUtils/$env:appveyor_build_version@systelab/stable --all -r systelab-bintray --force
        conan upload JWTUtilsTestUtilities/$env:appveyor_build_version@systelab/stable --all -r systelab-bintray --force
      } else {
        echo "Not uploading because this is not a tag build"
      }
